---
import Feedback from "@components/Feedback.astro";
import Progress from "@components/Progress.astro";
import Default from "@astrojs/starlight/components/Footer.astro";
---

{
	Astro.locals.starlightRoute.entry.data.progress !== false && (
		<div class="sl-markdown-content">
			<Progress />
		</div>
	)
}

{
	Astro.locals.starlightRoute.entry.data.feedback !== false && (
		<div class="sl-markdown-content">
			<Feedback />
		</div>
	)
}

<Default><slot /></Default>
